<launch>
  <!-- Launch the face detector -->
	<include file="$(find rail_face_detector_launch)/launch/face_detector.launch">
    <arg name="wg_detector" value="true" />
  </include>

  <!-- Launch the node to track people's faces -->
	<node name="track_face" pkg="fetch_demos" type="track_face.py" output="screen" />
</launch>
